<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>YOUUUUU LOSEEEEEEEEEEEEE</h1>
    {{#full_word}}
    <p>{{.}}</p>
    {{/full_word}}

    <form class="" action="/loser" method="post">
      <button type="submit" name="button">play agian?</button>
    </form>

  </body>
</html>
